# Gudao Linux boot menu (GRUB 2)
set default=0
set timeout=5

menuentry "Gudao Linux" {
    linux /boot/vmlinuz-gudao console=ttyS0 console=tty0
    initrd /boot/initramfs-gudao.img
}

menuentry "Gudao Linux (serial console ttyS0, for QEMU -nographic)" {
    linux /boot/vmlinuz-gudao console=tty0 console=ttyS0,115200n8
    initrd /boot/initramfs-gudao.img
}

menuentry "Gudao Linux (nomodeset, safe graphics)" {
    linux /boot/vmlinuz-gudao console=ttyS0 console=tty0 nomodeset
    initrd /boot/initramfs-gudao.img
}
